*{
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

body {
  color: black;
  background-color: #f3f3f3;
  font-family: 'Montserrat', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 240px 1fr 1fr 1fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

span{
  font-size: 15px;
}

input{
  border: none;
}

.bold{
  font-weight: bold;
}

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}
.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.icon, .icon_header {
  margin-right: 5px;
}

.close_icon {
  color: white;
  fill: white;
  cursor: pointer;
}

/* Header  */
.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 45px;
  background-color: #f3f3f3;
}

.header-right{
  padding: 5px;
  width: 200px;
  background-color: white;
  border-radius: 5px;
}

.menu-icon {
  display: none;
}
/* End Header  */

/* Sidebar  */
#sidebar {
  grid-area: sidebar;
  color: #9e9ea4;
  background-color: #00093d;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.sidebar-menu{
  padding: 10px;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px; 
  gap: 20px;
}

.selected{
  color: white;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  font-size: 25px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;
  margin: 10px 0px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  border-radius: 8px;
}

.sidebar-active{
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  border-radius: 8px;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #9e9ea4;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 1 !important;
}

.sidebar-image{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 8px;
}

.sidebar-profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.profile{
  display: flex;
}

.profile-name, .profile-title{
  font-size: 13px;
}
/* End Sidebar  */


/* Main  */  
.main-container {
  grid-area: main;
  padding: 0px 45px;
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 35px;
  margin: 15px 0;
}

.card {
  display: flex;
  justify-content: space-around;
  padding: 20px 15px;
  border-radius: 10px;
  color: initial;
}

.card-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-icon{
  padding: 15px;
  border-radius: 50%;
}

.main-cards .card:first-child .card-icon{
  background: rgb(255,255,255);
  background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(199,255,196,1) 70%);
}

.main-cards .card:nth-child(2) .card-icon{
  background-color: #EDC5F2;
}
.main-cards .card:nth-child(3) .card-icon{
  background-color: #ADD8E6;
}
.main-cards .card:nth-child(4) .card-icon{
  background: rgb(255,255,255);
  background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,148,163,1) 62%);
}

.card{
  background-color: white;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card_icon {
  font-size: 25px;
}

.card-text{
  font-size: 12px;
  color: grey;
}
.card-price{
  font-size: 30px;
  font-weight: bold;
}

.red{
  color: red;
  font-weight: bold;
}
.green{
  color: green;
  font-weight: bold;
}

.charts {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 40px;
  margin-top: 40px;
}

.charts-description{
  padding: 20px;
  background: white;
  border-radius: 10px;
  height: 360px;
}
.charts-position{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bargraph-img{
  width: 675px;
  height: 300px;
}

.piechart-img{
  width: 290px;
  height: 290px;
  padding: 15px 0px;
}

.dropdown{
  padding: 8px 5px;
  background-color: #f8f6f6;
  border-radius: 10px;
}

.products{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 40px;
}

.products-top{
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.products-detail{
  background-color: white;
  color: black;
  display: grid;
  grid-template-columns: 6fr 1fr 1fr 1fr;
  text-align: center;
  padding: 0px 20px;
}

.all-products{
  background-color: white;
  color: black;
  display: grid;
  grid-template-columns: 6fr 1fr 1fr 1fr;
  place-items: center;
  padding: 5px 20px;
}

.product{
  display: flex;
  column-gap: 25px;
}

.products-right{
  display: flex;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* End Main  */

@media screen and (max-width: 1439px) {
  .charts{
    grid-template-columns: 1fr;
  }

  .bargraph-img, .piechart-img{
    display: grid;
    place-items: center;
  }
}

@media screen and (max-width: 1175px) {
  .main-cards{
    grid-template-columns: 1fr 1fr;
  }
}
 
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }
  .grid-container{
    display: initial;
  }
  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}
  
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}


@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }
  .sidebar-brand {
    font-size: 15px;
  } 
}

@media screen and (max-width: 476px) {
  .header {
    padding: 7px 10px;
  }
  .main-container {
    padding: 0px 10px;
  }
  .sidebar-brand {
    font-size: 12px;
  }
  .products-detail{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .all-products{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    text-align: center;
  }
  .product{
    flex-direction: column;
  }
  .product-search, .product-search input{
    width: 80px;
  }

  .bargraph-img{
    width: 320px;
    height: 250px;
  }
  
  .piechart-img{
    width: 290px;
    height: 280px;
  }
}